@font-face {
  font-family: 'BeaufortBold';
  src: url('./assets/font/BeaufortforLOL-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.navbar-title {
  font-family: 'BeaufortBold', sans-serif;
  font-size: 36px; 
  color: yellow; 
}
.footer-title {
  font-family: 'BeaufortBold', sans-serif;
  font-size: 24px; 
  color: yellow; 
}
body {
  margin: 0;
  padding: 0;
}
.header h1 {
  margin: 0;
  padding: 0;
}
.notfound-style {
  font-family: 'BeaufortBold', sans-serif;
  font-size: 24px; 
  color: whitesmoke; 
}